<div class="row">
  <div class="building-name col-12">
    <h2>{{model.buildingName}}</h2>
  </div>
  <div class="col-12 col-md-6">
    {{image-slider}}
  </div>
  <div class="col-12 col-md-6">
    <div class="rental-summary">
      <h4>{{model.type}}, Ksh.{{model.monthlyRent}} per month</h4>
    </div>
    <div class="rental-details">
      <h5>House details</h5>
      <p><span class="oi oi-arrow-right"></span> {{model.bedrooms}} Bedrooms</p>
      <p><span class="oi oi-arrow-right"></span> {{model.bedrooms}} Bedrooms</p>
      <p><span class="oi oi-arrow-right"></span> {{model.bedrooms}} Bedrooms</p>
      <p><span class="oi oi-arrow-right"></span> {{model.bedrooms}} Bedrooms</p>
    </div>
  </div>
</div>
