{{breadcrumb-location location='Locations'}}
<div class="content mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Locations</strong>
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">County</th>
                <th scope="col">Sub-County</th>
                <th scope="col">Town</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              {{#each model as |location|}}
                {{#unless location.isNew}}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{location.county}}</td>
                    <td>{{location.subCounty}}</td>
                    <td>{{location.town}}</td>
                    <td>
                      <span style="margin-right: 20px;" class="oi oi-pencil text-primary" {{action 'editLocation' location on='click'}}></span>
                      <span class="oi oi-trash text-danger" {{action 'deleteLocation' location.id on='click'}}></span>
                    </td>
                  </tr>
                {{/unless}}
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
