{{breadcrumb-location location='Locations'}}
<div class="content mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Locations</strong>
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
              </thead>
              <tbody>
              {{#each model as |location|}}
                {{#unless location.isNew}}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{location.county}}</td>
                    <td>{{location.subcounty}}</td>
                    <td>{{location.town}}</td>
                  </tr>
                {{/unless}}
              {{/each}}
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col4">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
